@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
/* HEADER */
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.568);
}
.header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F3D900;
    animation: slider 1s 1 forwards;
}
@keyframes slider{
    from{
         transform: translateX(0%);
   }
   to{
       transform: translateX(-100%);
    }
}
/* HEADER b-g */
.header__img{
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    object-fit: cover;
}
/* HEADER NAVIGATION */
.header__nav{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0px;
    display: flex;
    z-index: 1;
    color: white;
    justify-content: space-between;
    height: auto;
    width: 100%;
    opacity: 0;
    align-items: center;
    animation: hero 1s 2s 1 forwards;
}
.header__nav__list{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 10px;
}
.header__nav__list-links{
    margin: 0 10px;
}
.header__nav__list-links a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 2px;
    position: relative;
}
.header__nav__list-links a:hover{
    color: white;
    text-decoration: none;
}
.header__nav__list-links a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.199);
    transition: all .2s;
}
.header__nav__list-links a:hover::after{
    height: 100%;
    opacity: 1;
}
.header__logo{
    font-size: 28px;
    color: #F3D900;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
}
.header__btn{
    padding: 10px 20px;
    background-color: #F3D900;
    color: black;
    border-radius: 5px;
    border: none;
    margin-right: 50px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    transition: all .2s;
}
.header__btn:hover{
    background-color: #f3db00a2;
}
/* HERO HEADER MAIN CONTENT */
.hero{
    width: 65%;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    transform: translate(2%, 50%);
    text-align: center;
    padding-bottom: 30px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.116);
    opacity: 0;
    animation: hero 1s 2.5s 1 forwards;
}
.hero__h1{
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
}
.hero__p{
    width: 90%;
    margin: auto;
}
.hero__cta{
    background-color: #F3D900;
    color: black;
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 20px;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
}
.hero__cta:hover{
    background-color: #f3db00a2;
}
@keyframes hero{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* HEADER CLOSE */

/* ABOUT */
.about{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    background-color: white;
}
.about__image{
    width: 50%;
    height: 40%;
    margin: 0 auto;
    transform: translateY(10px);
}
.about__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__content{
    width: 70%;
    margin: 50px auto;
    font-family: 'poppins', sans-serif;
    text-align: center;
}
.about__content__h1{
    padding: 6px 0px;
    font-size: 64px;
    width: auto;
    position: relative;
}
.about__content__h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 10px;
    border-radius: 20px;
    background-color: #F3D900;
}
.about__content__p{
    width: 100%;
    margin: 50px auto;
}
.about__content__cta{
    background-color: #F3D900;
    color: black;
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 50px;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
    transition: all .3s;
}
.about__content__cta:hover{
    background-color: #c2ae00;
}
/* ABOUT CLOSE */

/* COLLECTIONS */
#collections{
    margin-top: 150px;
    width: 100%;
}
#collections__h1{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 64px;
    position: relative;
    margin-top: -10px;
}
#collections__h1::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 40%;
    width: 20%;
    height: 10px;
    border-radius: 20px;
    background-color: #F3D900;
}
#collections__lists{
    display: flex;
    margin-top: 50px;
    padding: 10px 10px;
    background-color: black;
    list-style: none;
    width: 100%;
}
#collections__lists-item{
    cursor: pointer;
    padding: 5px;
    margin: 5px auto;
    position: relative;
    color: white;
    font-family: 'poppins';
    font-size: 20px;
}
.active::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: #F3D900;
    width: 100%;
    border-radius: 20px;
    height: 5px;
}
.container-fluid .row{
    width: 100%;
}
.container-fluid img{
    width: 100%;
    margin: 20px;
}
/* COLLECTIONS CLOSE */

/* AVAILABLE */
.available{
    width: 100%;
    height: 400px;
    background-color: #f3db00;
    display: flex;
    align-items: center;
}
.available__h1{
    font-size: 75px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    width: 100%;
}
/* AVAILABLE CLOSE */

/* FORM AREA */
/* form content */
.form{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cont input";
}
.form__content{
   grid-area: cont;
   font-family: 'poppins';
   color: white;
   height: 100%;
}
.form__content__cont{
    width: 80%;
    margin: 190px auto;
}
.form__content__cont__h1{
    font-size: 64px;
    font-weight: 800;
}
.form__content__cont__p1{
    margin-top: 50px;
}
.form__content__cont__p2{
    margin-top: 50px;
}
.form__content__cont__p2 span{
    color: #F3D900;
}
/* form input */
.form__input{
    grid-area: input;
    font-family: 'poppins';
}
.form__input__forms{
    color: white;
    margin: 80px auto;
    width: 70%;
    padding: 30px 30px 60px 30px;
    border-radius: 10px;
    height: auto;
    background: rgba(201, 200, 200, 0.1);
}
.form__name, 
.form__email,
.form__msg{
    margin: 20px auto;
}
#norm{
    outline: none;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    border: none;
}
#msg{
    outline: none;
    width: 100%;
    border-radius: 10px;
    /* height: 200px; */
    padding: 10px 50px 200px 10px;
    margin: 0;
    border: none;
    width: 100%;
}
.form__cta{
    background-color: #F3D900;
    padding: 5px 30px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    font-family: 'poppins';
    font-weight: 800;
    outline: none;

}
/* FORM AREA CLOSE */

/* FOOTER */
.footer{
    background-color: #212020;
    height: 150px;
    width: 100%;
}
.footer__social-links{
    padding: 10px;
    text-align: center;
}
.footer__social-links a{
    margin: 5px;
}
.footer__social-links a img{
    width: 13px;
    height: 15px;
}
.footer__misc{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}
.footer__misc__p{
    color: white;
}
.footer__copyR{
    text-align: center;
    font-size: 15px;
    color: white;
}















/* -------------------------------------------------------------------------------------------------------------------------------------- */
















/* MEDIA QEURIES */
@media screen and (max-width: 879px){
    .form{
        height: 50%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "cont cont" 
        "input input";
    }
}


@media screen and (max-width: 820px){
    .header__nav__list-links a{
        font-size: 12px;
    }
    .header__logo{
        font-size: 19px;
    }
    .header__btn{
        font-size: 13px;
    }
    .hero__h1{
        width: 60%;
        font-size: 45px;
        margin: auto;
    }
    .available__h1{
        font-size: 55px;
        text-align: center;
        font-family: 'poppins', sans-serif;
        font-weight: 800;
        width: 100%;
    }
}


@media screen and (max-width: 635px){
    /* HEADER MEDIA QUERIES */
    .burger{
        position: fixed;
        width: 50px;
        margin-left: 30px;
        border-radius: 4px;
        padding: 10px 10px 5px 10px;
        display: block;
        right: 0;
        top: 5px;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
        margin-right: 10px;
        opacity: 0;
        cursor: pointer;
        animation: hero 1s 2s 1 forwards;
    }
    .burger span{
        width: 100%;
        display: block;
        margin-bottom: 4px;
        position: relative;
        height: 4px;
        top: 0;
        background-color: #F3D900;
        border-radius: 20px;
        transition: all .4s;

    }
    .burger.open span:nth-child(1){
        transform: rotate(40deg);
        top: 12px;
    }
    .burger.open span:nth-child(4){
        transform: rotate(-40deg);
        top: -12px;
    }
    .burger.open span:nth-child(2),
    .burger.open span:nth-child(3){
        opacity: 0;
    }
    .header__nav{
        justify-content: space-evenly;
        display: block;
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.589);
        z-index: 1;
        position: fixed;
    }
    .header__logo{
        color: #F3D900;
        font-weight: 600;
        float: left;
        padding: 5px;
        margin-left: 10px;
        position:fixed;
        cursor: pointer;
    }
    .header__nav__list{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: left;
        list-style-type: none;
        position: fixed;
        z-index: 1;
        top: 0;
        transform: translateY(-100%);
        left: 0px;
        width: 50%;
        transition: all .3s;
        background-color: rgb(241, 241, 241);
    }
    .header__nav__list.open{
        transform: translateY(0%);
    }
    .header__nav__list-links{
        margin: 5px auto 5px auto;
    }
    .header__nav__list-links a{
        color: black;
    }
    .header__nav__list-links a::after{
       background-color: rgba(0, 0, 0, 0.199);
    }
    .header__btn{
        display: none;
    }
    /* ABOUT MEDIA QUERIES */
    .about__content{
        width: 300px;
        margin: 50px auto;
        font-family: 'poppins', sans-serif;
        text-align: center;
    }
    .about__content__h1{
        padding: 6px 0px;
        font-size: 40px;
        width: auto;
        position: relative;
    }
    .about__content__h1::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 30%;
        height: 10px;
        border-radius: 20px;
        background-color: #F3D900;
    }
    .about__content__p{
        width: 100%;
        margin: 10px auto;
    }
    .about__content__cta{
        background-color: #F3D900;
        color: black;
        font-size: 20px;
        padding: 10px 25px;
        border-radius: 5px;
        outline: none;
        border: none;
        margin-top: 15px;
        font-weight: 700;
        transition: all .3s;
        cursor: pointer;
    }
    #collections__h1{
        font-size: 40px;
    }
    .available__h1{
        font-size: 40px;
    }
}


@media screen and (max-width: 480px){
   .hero__h1{
       font-size: 30px;
   }
   .hero__cta{
       font-size: 20px;
   }
   .form{
    height: 100%;
    grid-template-rows: 500px 1046px;
    grid-template-areas: 
    "cont cont" 
    "input input";
    }
    .form__input{
        margin-top: 270px;
    }
   .form__cta{
       font-size: 20px;
   }
}
